numpy
pandas
scipy
scikit-learn
xgboost
matplotlib
seaborn
pyyaml
requests
openmeteo-requests
requests-cache
retry-requests
pandapower
pyomo
joblib
sqlalchemy
pyodbc
openpyxl
jupyter
pytest
pyarrow
fastparquet
jdatetime
geopandas
shapely
transliterate